@using Whosales.Domain

@{
    Layout = "_Layout";
}
<H1>Главная страница</H1>
<p>Данный сайт был разработан специально для выполнения курсовой работы на тему оптовые продажи</p>
<p>Для ознокамления с содержанием сайта прошу проследовать выбору различных действий из навигационной панели</p>
<p>Приятного ознокомления!!</p>
