@using Whosales.Domain
@model ProductType
@{
    Layout = "_Layout";
}

<h2>Сведение о @Model.Name</h2>
<div>Название : @Model.Name</div>
<div>Описание : @Model.Description</div>
<div>Особенности : @Model.Feature</div>
