@using Whosales.Domain
@{
	Layout = "ProductTypeLayout";
}
@model ProductType

<div class="col-md-6 align-self-center container">
	<div class="align-self-center">
		<form method="post">
			<div class="form-group">
				<label class="form-label">Название типа</label>
				<input value="@Model.Name" type="text" name="Name" class="form-control bg-black bg-opacity-25 " required />
			</div>
			<div class="form-group">
				<label class="form-label">Описание типа</label>
				<input value="@Model.Description" type="text" name="Description" class="form-control bg-black bg-opacity-25 " required />
			</div>
			<div class="form-group">
				<label class="form-label">Особенности типа</label>
				<input value="@Model.Feature" type="text" name="Feature" class="form-control bg-black bg-opacity-25 " required />
			</div>
			<div class="form-group">
				<input type="submit" class="form-control" style="margin-top:20px" />
			</div>
		</form>
	</div>
</div>