@{
	Layout = "ReceiptReportLayout";
}
@using Whosales.Web.HtmlHelpers
@using Whosales.Web.Models;
@using Whosales.Web.Models.ReceiptReports;
@model ReceiptReportAddPageViewModel

<div class="col-md-6 align-self-center container">
	<div class="align-self-center">
		<form method="post">

			<!--Даты-->
			<div class="form-group">
				<label class="col-form-label">Дата получения</label>
				<input type="datetime-local" name="ReciveDate" class="form-control" />
			</div>
			<div class="form-group">
				<label class="col-form-label">Дата заказа</label>
				<input type="datetime-local" name="OrderDate" class="form-control" />
			</div>
			<div class="form-group">
				<label class="col-form-label">Дата отправки</label>
				<input type="datetime-local" name="DepartureDate" class="form-control" />
			</div>

			<!--Выпадающие списки-->
			<div class="form-group">
				<label class="col-form-label">Сотрудник</label>
				@Html.EnumerableDropDown(Model.Employers, x => x.EmployerId, x => x.Name,false, Model.selectedEmployerId, "employerId")
			</div>
			<div class="form-group">
				<label class="col-form-label">Поставщик</label>
				@Html.EnumerableDropDown(Model.Provaiders, x => x.ProvaiderId, x => x.Name,false, Model.selectedProvaiderId, "provaiderId")
			</div>
			<div class="form-group">
				<label class="col-form-label">Товар</label>
				@Html.EnumerableDropDown(Model.Products, x => x.ProductId, x => x.Name,false, Model.selectedProductId, "productId")
			</div>
			<div class="form-group">
				<label class="col-form-label">Склад</label>
				@Html.EnumerableDropDown(Model.Storages, x => x.StorageId, x => x.Name,false, Model.selectedStorageId, "storageId")
			</div>

			<!--Объём-->
			<div class="form-group">
				<label class="col-form-label">Объём</label>
				<input type="number" name="Volume" class="form-control" />
			</div>
			<div class="form-group">
				<label class="col-form-label">Стоимость</label>
				<input type="number" step="any" name="Cost" class="form-control" />
			</div>

			<!--Кнопка-->
			<div class="form-group">
				<input type="submit" class="form-control" style="margin-top:20px" />
			</div>
		</form>
	</div>
</div>
