@{
    Layout = "_Layout";
}

@if (this.User.IsInRole("admin"))
{
    <nav class="container navbar navbar-expand-lg navbar-dark bg-dark">
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("Отобразить всех", "GetAll", "ReceiptReport", null, new {@class = "nav-link"})
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Добавить", "Add", "ReceiptReport", null, new {@class = "nav-link"})
                </li>
            </ul>
        </div>
    </nav>
}
<div>
    @RenderBody()
</div>